<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Penguin's Building Management</title>
  <link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
  <link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">
</head>
<body>
    {% include 'header.html' %}
    <div class = "content">

        <!-- Room Creation Form -->
        <form>
          <h1> Edit Room: </h1>

          <!--Room Information -->
          <label for="name">Room Name (Optional):</label>
          <input type="text" name="roomName" id ="name" placeholder="Enter Room Name">

          <label for="roomNum">Room Number:</label>
          <input type="text" name="roomNumber" id ="roomNum" placeholder="Enter Room Number" required>

          <label for="roomType">Room Type:</label>
          <input type="text" name="roomType" id ="roomType" placeholder="i.e Classroom" required>

          <label for="floorNum">Floor Number:</label>
          <input type="text" name="FloorNumber" id ="FloorNum" placeholder="Enter Floor Number" required>

          <label for="roomCap">Room Capacity:</label>
          <input type="number" name="Room Capacity" id ="roomCap" placeholder="Enter Room Capacity" required>

          <p>Click the button to add an option at the end of the list.
            <br>  Control+click (command on mac) to select multiple features.
            <br> To remove a feature select it and press "Remove Feature"
          </p>
          <select id="mySelect" size="8" multiple>
            <option>None</option>
            <option>Whiteboard</option>
            <option>Projector</option>
            <option>Computer</option>
            <option>Speakers</option>
          </select>

          <input type="text" name="newFeature" id="feature" value="TV">

          <button type="button" onclick="addFeature()">Add Feature</button>
          <button type="button" id="deleteButton" onclick="removeFeature()">Remove Feature</button>

          <p>Description:</p>
          <textarea rows="4" cols="50" maxlength="288">  </textarea>

          <input id="button1" type="submit">

        </form>
    </div>
    {% include 'header.html' %}

    <script>
    function addFeature() {
      var selectList = document.getElementById("mySelect");
      var option = document.createElement("option");
      option.text = document.getElementById('feature').value;
      selectList.add(option);
    }

    function removeFeature() {
        var selectList = document.getElementById("mySelect");
        selectList.remove(selectList.selectedIndex);
      }
    </script>

</body>
</html>
