<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Penguin's Building Management</title>
    <link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
    <link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'header.html' %}
    <div class = "content" id="app">

        <div class="primary-content container">
            <h1 style="text-align: center; width:80%; margin: 50px auto auto auto;">Maintenance Page</h1>
			      <h6 style="text-align: center; width:80%; padding-top: 10px; margin: 0px auto auto auto;"> View the maintenance reqeusts for a facility below. If the request has been fulfilled you can update the request and click the submit button.</h6>
        </div>

        <div class="secondary-content container" v-if="maintenanceRequest.length">
          <table class="table">
            <tr>
              <th>Date Submitted</th>
              <th>Facility and Building Name</th>
              <th>Room Number</th>
              <th>Description</th>
              <th>Status</th>
            </tr>

            <tr v-for="RequestInfo in maintenanceRequest">
              <td style="text-align: center">[[RequestInfo.date]]</td>
              <td style="text-align: center">[[RequestInfo.name]]: [[RequestInfo.buildingName]]</td>
              <td style="text-align: center">[[RequestInfo.roomNum]]</td>
              <td style="text-align: center">[RequestInfo.description]]</td>
              <td style="text-align: center">[[RequestInfo.Status]]</td>
            </tr>
          </table>
	       </div>
      </div>
  {% include 'footer.html' %}

  <script>
    var vc = new Vue({

       el: "#app",
       data: {
         u_id: {{u_id | tojson}},
         maintenanceRequest: []
       },

       mounted(){
         axios.get("/api/maintenance/users/" + this.u_id);
           .then(res1 => {
             this.maintenanceRequest = res1.data;

             this.maintenanceRequest.forEach( mr => {
                mr.date = new Date(mr.date);

             })});
               .catch(error => console.log(error))
      },
       delimiters: ["[[", "]]"],
   })
</script>

</body>
</html>
