*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  background-color: #f8f8f9;
}

form {
  max-width: 480px;
  margin: 50px auto;
  padding: 16px;
  border: 1px solid #eaeaea;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background-color: #ffffff;
  border: 1px solid #e5e5e4;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 8px 18px;
  height: 48px;
  width: 100%;
  color: #8a97a0;
  box-shadow: 0 2px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 16px;
  transition: all .2s ease;
}

input::placeholder {
  color: #999;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #0f868c;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 75px;
  border-radius: 2px;
}

button {
  max-width: 220px;
  margin: auto;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 26px;
  opacity: 0.9;
  color: #FFF;
  background-color: #0f868c;
  border-radius: 4px;
  border: 1px solid #ffffff
  text-align: center;
  width: 100%;
}

input[type="submit"]{
    border: none;
    outline: none;
    opacity: 0.6;
    height: 40px;
    background: #0f868c;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
  }

input[type="submit"]:hover {
    cursor: pointer;
    background: #0f868c;
    opacity: 1.0;
    color: #000;
  }

fieldset {
  margin-bottom: 28px;
  border: none;
}

legend {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 16px;
}

label {
  display: block;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
  white-space:nowrap;
}

.wrappable {
  white-space: normal;
}

label.light {
  font-weight: 300;
  display: inline;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
