@charset "utf-8";
/* CSS Document */

body, html{
	height: 100%;
	width: 100%;
	margin: auto;
	font-family: Arial;
	background-image: -webkit-linear-gradient(rgba(0,0,0,.25),white), url("Buildings.jpg");
	background-image: linear-gradient(rgba(0, 0, 0, .25), white), url("Buildings.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

body {
	display: flex;
	flex-direction: column;
}


/*
 * Header, Content Wrapper, Footer
 */

/* Header */
.nav {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #242424;
}

.nav--item {
	display: inline-block;
	padding: .5rem .5rem;
	border-left: 1px solid white;

	color: #EFEFEF;
	text-align: center;
	text-decoration: none;
}


a.nav--item:hover {
	color: #03122D;
	background-color: #B5B5B5;
}

.nav--item:nth-child(1) {
	border: none;
}

.nav--welcome {
	flex-grow: 1; /* take up the extra space */
}

.nav--login, .nav--logout {
	margin-left: auto /* push this button all the way right */
}

/*
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #242424; 
}

li{
	float: left
}

li a{
	display:block;
	color: #EFEFEF;
	text-align: center;
	padding: 10px 15px;
	text-decoration: none;
}

li a:hover{
	color: #03122D;
	background-color: #B5B5B5;
	text-decoration: underline;
}


.login a{
	position:absolute;
   	top:0;
   	right:0;
	display:block;
	color: #EFEFEF;
	text-align: center;
	padding: 10px 15px;
	text-decoration: none;
}

.login a:hover{
	color: #03122D;
	background-color: #B5B5B5;
	text-decoration: underline;
}
*/

/* Page Content Wrapper */
.content {
	flex: 1 0 auto;
}

/* Footer */
.footer {
	flex-shrink: 0;
	display: block;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 12px;
	text-align: center;
	width: 100%;
	color: #EFEFEF;
	background-color: #242424;
}

/*
 * Other General Styles
 */

.back{
	/* TODO: make this button look pretty */
	text-align: center
}

.center-text {
	text-align: center;
}


/*
 * Calendar Styles
 */

/* Calendar Settings */
#calendar
{
	max-width: 950px;
	margin: 10px auto;
	background-color: white;
	padding: 20px;
	border: 1px solid transparent;
	border-radius: 5px;
}

/* Submit Button for calendar */
.submitbtn {
	display: block;
	line-height: 1.5;
	margin: 10px auto 5px auto; 
	background-color: #2c3e50; 
	color: #fff; 
	font-family: Arial;
	font-size: 16px; 
	border-radius: 4px; 
	border: 1px solid; 
	padding: 6.4px 10.4px;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}

.submitbtn:hover{
	cursor: pointer;
	background-color: #212529;
}

/* Tooltip for Calendar */
.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #6d7a87;
  color: white;
  width: 150px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
}
.style5 .tooltip {
  background: #6d7a87;
  color: #FFFFFF;
  max-width: 200px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #6d7a87;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
