* {box-sizing: border-box}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
	border-radius: 15px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
	font: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
	font: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


.registerbtn {
	border-radius: 25px;
    background-color: #03122D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:.5;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
	font-family: verdana;
	text-decoration: none;
	font-size: 12px
}