<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Penguin's Building Management</title>
	<link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
	<link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">

</head>

<body>

	{% include 'header.html' %}

	<div class="content">

		<!-- Center Text -->
		<div class="primary-content container">

			<h1 style="background:lightgrey; text-align: center; width:80%; margin: 50px auto auto auto;">Buildings Page: </h1>	
            <h4 style="background:lightgrey; text-align: center; width:80%; padding-top: 10px; margin: 0px auto auto auto;">Select the timeslot below (by clicking and dragging) and click the submit button to create a reservation for that time slot.</h4>

		</div>    

		<!-- Calendar & Information -->
		<div class="secondary-content container">

            <div style="text-align: center">

                <p> Building Name:[[ building.name ]] </p>
                <p> Building Address: [[ building.address.address_L1]] [[building.address.address_L2 ]], [[ building.address.city ]], [[ building.address.state ]] </p>
                <p> Building Phone Number: [[ building.phone ]]</p>
            
            </div>				
		</div>
		
	</div>	

    {% include 'footer.html' %}
    
    
    <script>

        var vc = new Vue({
            el: "#app",
            data: {
                b_id: "",
                facility: [],
                buildings: []                
            },
            mounted(){
                const requestBuildingURL = axios.get("{{ url_for('building', f_id=" + b_id + ") }}");
                const requestRoomURL = axios.get("{{ url_for('facility', f_id=" + b_id + ") }}");

                axios.all([requestBuildingURL, requestRoomURL])
	  	            .then(axios.spread((res1, res2) => {
                        this.buildings = res1.data;
			            this.rooms= res2.data;
                    }))
                    .catch(error => console.log(error))                        
            },
            delimiters: ["[[", "]]"],
            methods: {
                getBuildingURL: function(building_id) {
                    return "/facilities/5d9a7446bc65c324386edcd6/buildings/" + building_id 
                }
            }
        })
        
    </script>
</body>
</html>
