<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Building Scheduler</title>
	<link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
	<link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">
	<link href="{{url_for('static', filename='js/fullcalendar/core/main.css')}}" rel='stylesheet' />
	<link href="{{url_for('static', filename='js/fullcalendar/timeline/main.css')}}" rel='stylesheet' />
	<link href="{{url_for('static', filename='js/fullcalendar/resource-timeline/main.css')}}" rel='stylesheet' />

	<script src="{{url_for('static', filename='js/fullcalendar/core/main.js')}}"></script>
	<script src="{{url_for('static', filename='js/fullcalendar/timeline/main.js')}}"></script>
	<script src="{{url_for('static', filename='js/fullcalendar/resource-common/main.js')}}"></script>
	<script src="{{url_for('static', filename='js/fullcalendar/resource-timeline/main.js')}}"></script>
	<script src="{{url_for('static', filename='js/fullcalendar/interaction/main.js')}}"></script>

	<script src="{{url_for('static', filename='js/popper/dist/umd/popper.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/tooltip/dist/umd/tooltip.min.js')}}"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" crossorigin="anonymous"></script>

</head>
<body>

	<div class="content">		

		<div id="calendar">
			<script type="text/javascript">
				function submitScript(){
				}
			</script>
			
			<button class="submitbtn" onclick="submitScript()"> Submit Time Slot </button>
			<button class="gobackbtn" onclick="goBack()">Go Back</button>
			
		</div>
	</div>
</body>
	

	<script>

	document.addEventListener('DOMContentLoaded', function() {
  
    	var calendarEl = document.getElementById('calendar');

	    var calendar = new FullCalendar.Calendar(calendarEl, {
	        plugins: [ 'resourceTimeline', 'interaction' ],
	        header: {
		    left: 'today prev,next',
	            center: 'title',
	            right: ''
        	},
	        schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
        	defaultView: 'resourceTimelineDay',
			selectable: true,
			height: 450,
			refetchResourcesOnNavigate: true,
			resources: function(successCallback) {
				var buildings = [];

				axios
					.get("{{ url_for('room', f_id='5d9a7446bc65c324386edcd6', b_id='5da4d5c73f5e7322944ee54b') }}")
					.then(res => { this.buildings = res.data; })
					.catch(err => console.log(err))	
				
				successCallback(buildings);
			},
			//resources: 'http://ec2-35-170-202-37.compute-1.amazonaws.com/static/resource.json',
			events: [ 	{"id":"1", "resourceId":"a", "title":"Reserved", "start":"2019-11-09T10:30:00", "end":"2019-11-01T12:30:00"},
					{"id":"2", "resourceId":"b", "title":"Reserved", "start":"2019-11-09T9:30:00", "end":"2019-11-01T12:30:00"},
					{"id":"3", "resourceId":"a", "title":"Reserved", "start":"2019-11-09T1:30:00", "end":"2019-11-01T14:30:00"},
					{"id":"4", "resourceId":"c", "title":"Reserved", "start":"2019-11-09T10:30:00", "end":"2019-11-01T12:30:00"},
					{"id":"5", "resourceId":"d", "title":"Reserved", "start":"2019-11-09T11:30:00", "end":"2019-11-01T12:30:00"}
				 ], 
					//url:'http://ec2-35-170-202-37.compute-1.amazonaws.com/static/events.json',
			eventBackgroundColor: 'red',
			
        	titleFormat: {
	            year: 'numeric',
	            month: 'short',
	            day: 'numeric',
	            weekday: 'long'
        	},
	        businessHours: [            
        		{
                	daysOfWeek: [1,2,3,4,5],
	                startTime: '7:30',
        	        endTime: '23:30'  
	        	},
	        	{
        	        daysOfWeek: [6,0],
                	startTime: '8:00',
	                endTime: '17:00'           
            	}
			],
	        slotLabelFormat: { hour:'numeric'},
        	minTime: '6:30',
	        maxTime: '24:30',
        	slotMinutes: '30',
	        selectConstraint: 'businessHours',
	        nowIndicator: true,
        	resourceLabelText: 'Rooms',
			aspectRatio: 1.5,
			// select: function(start, end) {
			// 	var title = $("#resource:selected").val();
			// 	var eventData;
			// 	if(title){
			// 		eventData = {title:title, start: start, end: end};
			// 		var calendar_datetime = $('#calendar').fullCalender('renderEvent', eventData, true);
			// 		alert(calendar_datetime);
			// 	}
			// },
		       
			resourceRender: function(info) {
            	var questionMark = document.createElement('strong');
		        questionMark.innerText = ' (?) ';

        	    info.el.querySelector('.fc-cell-text')
                   .appendChild(questionMark);
				
				var tooltip = new Tooltip(questionMark, {
		   			title: info.resource.extendedProps.features,
		   			placement: 'top',
		   			trigger: 'hover',
		   			container: 'body',
				});
			},

			eventRender: function(info) {
        		var tooltip = new Tooltip(info.el, {
          			title: "",
          			placement: 'top',
          			trigger: 'hover',
          			container: 'body'
				});
			}
			
			});
		
  	   	calendar.render();
	});
	</script>
	
</html>
