<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new password</title>
    <link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
    <link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" crossorigin="anonymous"></script>
</head>
<body>
{% include 'header.html' %}
<div class="content" id="app">
    <div class="primary-content center-text container">
        <h1 class="">Change password</h1>
        <div class="form-group">
            <form>
                <div class="errorbox" v-for="e in error">[[e]]</div>
                <label for="npsw"><b>Create new password</b></label>
                <input type="password" placeholder="Enter new password" name="npsw" class="full-width" required v-model="npsw">

                <label for="cpsw"><b>Confirm password</b></label>
                <input type="password" placeholder="Re-enter password" name="cpsw" class="full-width" required v-model="cpsw">
                <button type="submit" class="button" @click.prevent="putDetails()">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>

<script>
    var vc = new Vue({
        el: "#app",
        data: {
            npsw: "",
            cpsw: "",
            error: []
        },
        delimiters: ["[[", "]]"],
        methods: {
            putDetails: function () {
                axios
                    .put("{{ url_for('user') }}", {
                        npsw: this.npsw,
                        cpsw: this.cpsw,
                    })
                    .then(res => {
                        if ("msg" in res.data && res.data.msg.length) {
                            location.href = ("{{ url_for('home')}}");
                        } else {
                            this.error = res.data.err;
                        }
                    })
                    .catch(error => console.log(error))
            }
        }
    })
</script>

</html>
