<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new password</title>
    <link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
    <link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">
</head>
<body>
{% include 'header.html' %}
<div class="content" id="app">
    <div class="form-group">
        <form action="{{ url_for('user') }}" method="post" onSubmit="return checkPassword(this)">
            <label for="npsw"><b>Create new password</b></label>
            <input type="password" placeholder="Enter new password" name="npsw" class="full-width" required>

            <label for="cpsw"><b>Confirm password</b></label>
            <input type="password" placeholder="Re-enter password" name="cpsw" class="full-width" required>

            <button type="submit" class="button">Change Password</button>
            </form>
    </div>
</div>
{% include 'footer.html' %}
</body>

<script>

    // Function to check Whether both passwords
    // is same or not.
    function checkPassword(form) {
        password1 = form.npsw.value;
        password2 = form.cpsw.value;

        // If password not entered
        if (password1 == '')
            alert ("Please enter Password");

        // If confirm password not entered
        else if (password2 == '')
            alert ("Please enter confirm password");

        // If Not same return False.
        else if (password1 != password2) {
            alert ("\nPassword did not match: Please try again.")
            return false;
        }

        // If same return True.
        else{
            return true;
        }
    }
</script>
</html>