<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot your Password?</title>
    <link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
    <link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" crossorigin="anonymous"></script>
</head>
<body>
{% include 'header.html' %}
    <div class="content" id="app">
        <div class="container">
            <div class="center-text">
                <div class="form-group">
                    <h1 class="">Forgot your password?</h1>
                    <label style="text-align: center">Please enter your email address into the text field provided.</label>
                    <br>
		    <div class="errorbox" v-for="e in error"> [[e]] </div>
                    <input type="email" name="email" id="forget_password_field" class="full-width" placeholder="Enter email address" v-model="email" required>
                    <button type="submit" class="btn" style="width: 18%" id="password" @click.prevent="subEmail()">Submit</button>
                </div>
            </div>
            <div id = "modal2wrapper" class = "modal">
                <form class="modal-content animate">
                    <div class="container" style="background-color: white">
                        <span onclick="document.getElementById('modal2wrapper').style.display='none';" @click="error = []" class="close" title="Close Popup">&times;</span>
                        <h1 style="text-align: center; background-color: white; padding-top: 25px">Answer Security Question</h1>
                    </div>
                    <form>
                        <div class="container" style="background-color: white">
                            <div class="errorbox" v-for="e in error">[[e]]</div>
                            <center><label for="question" class="full-width center-text" name="question" id="question">[[question]]</label></center>
                            <input type="password" class = "full-width" placeholder="Enter Answer" name = "answer" id="answer" maxlength="240" v-model = "answer">
                            <button type="submit"  class="btn" style="margin: 0 auto; display: block; width: 40%" @click.prevent="checkAnswer()">Change Password</button>
                        </div>
                    </form>
                </form>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>

<script>
    var vc = new Vue({
        el: "#app",
        data: {
            email:"",
            question: "",
            answer: "",
            error: []
        },
        delimiters: ["[[", "]]"],
        methods: {
            subEmail: function (){
                axios
                    .post("{{url_for('forgot_password')}}", {
                        email: this.email
                    })
                    .then(res => {
                        if("err" in res.data && res.data.err.length)
                            this.error = res.data.err
                        else {
                            this.question = res.data.question
			    this.error = []
                            document.getElementById('modal2wrapper').style.display = 'block'
                        }
                    })
                    .catch(error => console.log(error))
            },
            checkAnswer: function () {
                axios
                    .post("{{ url_for('forgot_password') }}", {
                        answer: this.answer,
                        email: this.email
                    })
                    .then(res => {
                        if ("msg" in res.data && res.data.msg.length) {
                            location.href = ("{{ url_for('change_password')}}");
                        } else {
                            this.error = res.data.err;
                        }
                    })
                    .catch(error => console.log(error))
            }
        }
    })
</script>
</html>
