<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot your Password?</title>
    <link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
    <link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">
</head>
<body>
    <form>
        {% include 'header.html' %}
        <div class="content" id="app">
            <div class="form-group">
                <h1 class="">Forgot your password?</h1>
                <label for="psw" style="text-align: center">Forgot your password? Please enter your email address into the text field provided. You will receive an email with steps on how to recover your account.</label>
                <br>
                <input type="email" name="q" id="forget_password_field" class="full-width" placeholder="Enter email address" v-model="query">
            </div>
        </div>
    </form>
    {% include 'footer.html' %}
</body>
</html>