<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Groups</title>
    <link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
    <link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'header.html' %}
    <div class = "content" id="app">
        <form>
            <center><h1>Update Groups for Facility</h1></center>

            <!--Group List and Options-->
            <select id="groupSelect" size="8" v-model="groupSelect">
                <option v-for="group in groups" v-bind:value="group._id">[[ group.name ]]</option>
            </select>
            <input type="text" name="group" id="groupInput">
            <button type="button" class="button" @click.prevent="addGroup()">Add Group</button>
            <button type="button" class="button" @click.prevent="removeGroup()">Remove Group</button>


            <!--User List and Options-->
            <select id="userSelect" size="8" v-model="userSelect" multiple>
                <option v-for="user in users" v-bind:value="user._id">[[ user.email ]]</option>
            </select>
            <input type="text" name="users" id="group">
            <button type="button" class="button" @click.prevent="addUser()">Add User</button>
            <button type="button" class="button" @click.prevent="removeUser()">Remove User</button>
        </form>
    </div>
    {% include 'footer.html' %}

    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                f_id: {{ f_id | tojson }},
                groupSelect: [],
                userSelect: [],
                groups: [],
                users: [],
                error: []
            },
            delimiters: ["[[", "]]"],
            mounted: function() {
            axios.get("/api/facilities/" + this.f_id)
                .then(res => {
                    if ("err" in res.data && res.data.err.length) {
                        this.error = res.data.err
                    } else {
                        this.groups = res.data.groups
                    }
                })
                .catch(error => console.log(error))
	    },
            methods: {
                getUsers: function() {
                //
                },
                addGroup: function() {
                //
                },
                removeGroup: function() {
                //
                },
                addUser: function() {
                //
                },
                removeUser: function() {
                //
                }
            }
	}
    </script>
</body>
</html>
