<div class="nav">
	<a class="nav--item" href="{{ url_for('home') }}">Home</a>
	{% if session.get('username') %}
		<a class="nav--item" href="{{ url_for('calendar') }}">Calendar</a>
		<a class="nav--item" href="#">Profile</a>
		<a class="nav--item" href="#">Reservations</a>
		<a class="nav--item" href="#">Management</a>
		<span class="nav--item nav--welcome">Welcome {{ session.get('username') }}!</span>
		<a class="nav--item nav--logout" href="#">Log Out</a>
	{% else %}
		<a class="nav--item nav--login" href="{{ url_for('login') }}">Login</a>
	{% endif %}
</div>


