<div class="nav">
	<a class="nav--item" href="{{ url_for('home') }}">Home</a>
	{% if session.get('user') %}
		<a class="nav--item" href="{{ url_for('profile')}}">Profile</a>
		<a class="nav--item" href="{{ url_for('reservations') }}">Reservations</a>
		<a class="nav--item" href="{{ url_for('management_page') }}">Management</a>
		<a class="nav--item" href="{{ url_for('maintenance_submissions') }}"> Maintenance Submissions </a>
		<span class="nav--item nav--welcome">Welcome {{ session.get('user').get('first_name') }}!</span>
		<a class="nav--item nav--logout" href="{{ url_for('logout') }}">Log Out</a>
	{% else %}
		<a class="nav--item nav--login" onclick="document.getElementById('modalwrapper').style.display='block'">Login</a>
		<div id = "modalwrapper" class = "modal">
			<form class="modal-content animate">
			<div class="imgcontainer" style="background-color: white">
				<span onclick="document.getElementById('modalwrapper').style.display='none'" class="close" title="Close Popup">&times;</span>
				<h1 style="text-align: center; background-color: white; padding-top: 25px">Login</h1>
			</div>

			<div class="container" style="background-color: white">
				<div class="errorbox" v-for="e in error">[[e]]</div>
				<input type="email" class = "full-width" placeholder="Enter Email" name = "email" v-model = "email">
				<input type="password" class = "full-width"  placeholder="Enter Password" name = "psw" v-model = "password">
				<button type="submit" class="btn" style="margin: 0 auto; display: block; width: 18%" @click.prevent="submitLogin()">Login</button>
				<br>
				<a href="{{ url_for('forgot_password')}}" style="text-decoration: none; margin: 13px 26px; text-align:center; margin-top: 26px; position: relative; color: black; background-color: white">Forgot Password? Click here.</a>
				<br>
				<a href="{{ url_for('register')}}" style="text-decoration: none; margin: 13px 26px; text-align:center; margin-top: 26px; position: relative; color: black; background-color: white">New user? Create an account.</a>
			</div>
			</form>
		</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" crossorigin="anonymous"></script>
	<script>
		var vm = new Vue({
			el: "#modalwrapper",
			data: {
				email: "",
				password: "",
				error: []
			},
			delimiters: ["[[", "]]"],
			methods: {
				submitLogin: function() {
					axios
						.post("{{ url_for('login') }}", {
							email: this.email,
							password: this.password
						})
					.then(res => {
						if ("msg" in res.data && res.data.msg.length){
							window.location.reload(false);
						}
						else {
							this.error = res.data.err;
						}
					})
					.catch(error => console.log(error))
				}
			}
		})
	</script>
	<script>
		var modal = document.getElementById('modalwrapper');
		window.onclick= function (event) {
			if (event.target == modal){
				modal.style.display = "none";
			}
		}
	</script>
	{% endif %}
</div>


