<div class="nav">
	<a class="nav--item" href="{{ url_for('home') }}">Home</a>
	{% if session.get('user') %}
		<a class="nav--item" href="{{ url_for('calendar') }}">Calendar</a>
		<a class="nav--item" href="#">Profile</a>
		<a class="nav--item" href="#">Reservations</a>
		<a class="nav--item" href="#">Management</a>
		<span class="nav--item nav--welcome">Welcome {{ session.get('user').get('username') }}!</span>
		<a class="nav--item nav--logout" href="{{ url_for('logout') }}">Log Out</a>
	{% else %}
		<a class="nav--item nav--login" onclick="document.getElementById('modal-wrapper').style.display='block'"">Login</a>
		<div id = "modal-wrapper" class = "modal">
			<form class="modal-content animate">
			<div class="imgcontainer" style="background-color: white">
				<span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close Popup">&times;</span>
				<h1 style="text-align: center; background-color: white; padding-top: 25px">Login</h1>
			</div>

			<div class="container" style="background-color: white">
				<input type="email" placeholder="Enter Email" name = "email">
				<input type="password" placeholder="Enter Password" name = "psw">
				<button type="submit" class="button">Login</button>
				<a href="#" style="text-decoration: none; margin: 13px 26px; text-align:center; margin-top: 26px; position: relative; color: black; background-color: white">Forgot Password? Click here.</a>
			</div>
			</form>
		</div>
	{% endif %}
	<script>
		var modal = document.getElementById('modal-wrapper');
		window.onclick= function (event) {
			if (event.target == modal){
				modal.style.display = "none";
			}
		}
	</script>
</div>


