<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" crossorigin="anonymous"></script>
	
    <meta charset="UTF-8">
    <title>New User Registrations</title>
    <link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
    <link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">
</head>
<body>
	{% include 'header.html' %}
	<div class="content">
    <div class="container">
        <h1>Account Registration</h1>
        <div class="errorbox" v-for="e in error">[[e]]</div>
        <p>New user? Just fill out a quick form to create an account.</p>
        <hr>

        <form id="app">
            <label for="fname"><b>First Name</b></label>
            <input type="text" placeholder="First Name" name="fname" class="full-width" required v-model="fname">

            <label for="lname"><b>Last Name</b></label>
            <input type="text" placeholder="Last Name" name="lname" class="full-width" required v-model="lname">
			
			<label for="email"><b>Email Address</b></label>
            <input type="text" placeholder="Email Address" name="email" class="full-width" required v-model="email">

            <label for="password1"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password1" class="full-width" required v-model="password1">

            <label for="password2"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="password2" class="full-width" required v-model="password2">

            <label for="question"><b>Security Question</b></label>
            <select v-model="question">
                <option selected value="What is your favorite book?">What is your favorite book?</option>
                <option value="What is the name of the road you grew up on?">What is the name of the road you grew up on?</option>
                <option value="What is your mother’s maiden name?">What is your mother’s maiden name?</option>
                <option value="What was the name of your first/current/favorite pet?">What was the name of your first/current/favorite pet?</option>
                <option value="What was the first company that you worked for?">What was the first company that you worked for?</option>
                <option value="Where did you meet your spouse?">Where did you meet your spouse?</option>
                <option value="Where did you go to high school/college?">Where did you go to high school/college?</option>
                <option value="What is your favorite food?">What is your favorite food?</option>
                <option value="What city were you born in?">What city were you born in?</option>
                <option value="Where is your favorite place to vacation?">Where is your favorite place to vacation?</option>
            </select>

            <label for="answer"><b>Answer</b></label>
            <input type="text" placeholder="Enter Security Answer" name="answer" class="full-width" required v-model="answer">
			
            <button class="button" @click.prevent="submitReg()">Register</button>
			
        </form>
    </div>
    <div class="container signin">
         <p>Already have an account? Click here to <a href="{{ url_for('login') }}">sign in</a>.</p>
    </div>
</div>
	{% include 'footer.html' %}
</body>

<script>
    var vc = new Vue({
        el: "#app",
        data: {
            fname: "",
            lname: "",
            email: "",
            password1:"",
            password2: "",
            question: "",
            answer: "",
            err: []
        },
        delimiters: ["[[", "]]"],
        methods: {
            submitReg: function() {
                this.checkEntries();
                axios
                    .post("{{ url_for('user')}}", {
                        fname: this.fname,
                        lname: this.lname,
                        email: this.email,
                        password1: this.password1,
                        password2: this.password2,
                        question: this.question,
                        answer: this.answer
                    })
                    .then(res => {
                        if ("msg" in res.data && res.data.msg.length) {
                            location.href = ("{{ url_for('home')}}");
                        } else {
                            this.err = res.data.err;
                        }
                    })
                    .catch(error => console.log(error))
            },

            checkEntries: function() {
                password1 = this.password1;
                password2 = this.password2;
                answer = this.answer;
                if ((password1 != password2) & (answer.trim() == "")){
                    alert("Passwords did not match, and invalid security answer");
                    return false;
                }
                else if (password1 != password2) {
                    alert ("Password did not match: Please try again.");
                    return false;
                }
                else if (answer.trim() == "") {
                    alert("Please answer security question");
                    return false;
                }
                return true;
            }
        }
    })

</script>
</html>
