<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Penguin's Building Management</title>
	<link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
	<link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" crossorigin="anonymous"></script>
</head>

<body>

	{% include 'header.html' %}

	<div class="content">

		<!-- Center Text -->
		<div>
			<h1 style="text-align: center; width:80%; margin: 50px auto auto auto;"> Room Confirmation Page</h1>
			<h6 style="text-align: center; width:80%; padding-top: 10px; margin: 0px auto auto auto;">
        You're all set! Below is the confirmation information for your reservation.
        <br> If for any reason you need to cancel your reservation, please do so on the Reservations page.
      </p>
		</div>

		<!-- Confirmation Text -->
		<div style="background:white; background:white; text-align: justify; width:60%; height:auto; margin: 50px auto 10px auto; padding: 10px;  border: 1px solid transparent; border-radius: 5px;">

        <p style="padding: 15px 20px 0">Address: [[building.address.addres_L1]] [[building.address.address_L2]], [[building.address.city]] [[building.address.state]] [[building.address.zip]]</p>

        <p style="padding: 15px 20px 0">Date: [[reserve.date]] </p>

        <p style="padding: 15px 20px 0">Facility: [[facility.name]]</p>

				<p style="padding: 15px 20px 0">Building: [[building.name]]</p>

				<p style="padding: 15px 20px 0">Room: [[room.name]]</p>

				<p style="padding: 15px 20px 0">Features: [[room.attributes]]</p>


				<!-- Add button later -->
			<!--	<button class="submitbtn"> Reservations Page </button> -->
		</div>

	</div>

	{% include 'footer.html' %}

  <script>
  var vc = new Vue({
    el: "#app",
      data: {
        f_id: {{ f_id | tojson }},
        building_id: {{ b_id | tojson}},
        room_id: {{ r_id | tojson}},
        res_id: {{ res_id | tojson}},
	reserve: [],
        building: [],
        facility: [],
        room: {}

      },

      mounted(){

        //Will be changed
        const requestReservationEnd = axios.get("/api/facilities/" + this.f_id + "/buildings/" + this.b_id "/rooms/" + this.r_id + "/reservations" + this.reserve_id)
        const requestRoomsEnd = axios.get("/api/facilities/" + this.f_id + "/buildings/" + this.b_id + "/rooms/" + this.r_id)
        const requestBuildingEnd = axios.get("/api/facilities/" + this.f_id + "/buildings/" + this.b_id)
        const requestFacilityEnd = axios.get("/api/facilities/" + this.f_id)

        axios.all([requestReservationEnd, requestRoomsEnd, requestBuildingEnd, requestFacilityEnd])
        .then(axios.spread((res1, res2, res3, res4) => {
          this.reserve = res1.data;
          this.room = res2.data;
          this.building = res3.data;
          this.facility = res4.data;
        }))
        .catch(error => console.log(error))
      }
      delimiters: ["[[", "]]"],
    })
  </script>
</body>
</html>
