<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Penguin's Building Management</title>
	<link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
	<link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">
	
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" crossorigin="anonymous"></script>
    
</head>

<body>

	{% include 'header.html' %}

	<div class="content" id="app">

		<!-- Center Text -->
		<div class="primary-content container">
			<h1 style="background:lightgrey; text-align: center; width:80%; margin: 50px auto auto auto;">Reservations Page:</h1>	
			<h6 style="background:lightgrey; text-align: center; width:80%; padding-top: 10px; margin: 0px auto auto auto;"> Select reservation to view information about the selected reservation. If you would like to submit a maintenance request please click the icon next to the building of the reservation.</h6>
		</div>    

        <!-- Table -->
        <div v-if="buildings.length" class="secondary-content container">
		<table class="table">
                    <tr>
                        <th>Date</th>
                        <th>Building</th>
                        <th>Location</th>
                        <th>Facility</th> 
                        <th>Maintenance Request</th>
                    </tr>
                    <tr v-for="building in buildings">
                        <td></td>
                        <td><a v-bind:href="getBuildingURL(building._id)">[[ building.name ]]</a></td>
                        <td><a v-bind:href="getBuildingURL(building._id)">[[ building.address.city ]], [[ building.address.state ]] </a></td>
                        <td style="text-align: center"> <a v-bind:href="getFacilityURL(facility._id)"> [[ facility.name ]] </a></td>
                        <td style="text-align: center"><a onclick="document.getElementById('modalwrapper').style.display='block'"><img src="{{url_for('static', filename='requesticon.png')}}"></a>
                            <div id = "modalwrapper" class = "modal">
                                <form class="modal-content animate">
                                    <div class="imgcontainer" style="background-color: white">
                                        <span onclick="document.getElementById('modalwrapper').style.display='none'" class="close" title="Close Popup">&times;</span>
                                        <h1 style="text-align: center; background-color: white; padding-top: 25px">Maintenance </h1>
                                    </div>
                                    <div class="container" style="background-color: white">
                                        <input type="text" class = "full-width" placeholder="Enter maintenance request" name = "mrqst" maxlength="240" v-model = "text">
                                        <button type="submit"  class="button" style="margin: 0 auto; display: block" @click.prevent="submitRequest()">Submit Request</button>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>		
	</div>	

    {% include 'footer.html' %}

        <script>

            var vc = new Vue({
                el: "#app",
                data: {
                    buildings:[],
		    facility:[]                
                },
                mounted(){
                    const requestBuildingURL = axios.get("{{ url_for('building', f_id='5dd81b02c3fe0ffb0e9e2950') }}");
                    const requestFacilityURL = axios.get("{{ url_for('facility', f_id='5dd81b02c3fe0ffb0e9e2950') }}");

                    axios.all([requestBuildingURL, requestFacilityURL])
  	                .then(axios.spread((res1, res2) => {
               		        this.buildings = res1.data;
		                this.facility = res2.data;
                        }))
                        .catch(error => console.log(error))     
                },
                delimiters: ["[[", "]]"],
                methods: {
                    getFacilityURL: function(facility_id) {
                        return "/api/facilities/" + facility_id
                    },
                    getBuildingURL: function(building_id) {
                        return "/api/facilities/5d9a7446bc65c324386edcd6/buildings/" + building_id
                    }
                }
            })
    
        </script>

        <script>
            var modal = document.getElementById('modalwrapper');
            window.onclick= function (event) {
                if (event.target == modal){
                    modal.style.display = "none";
                }
            }
        </script>
    
</body>
</html>
