<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Penguin's Building Management</title>
  <link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
  <link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'header.html' %}
    <div class = "content" id="app">

        <!-- Room Creation Form -->
        <form>
            <center><h1> Room Creation </h1></center>
            <div class="errorbox" v-for="e in error">[[e]]</div>

          <!--Room Information -->
          <label for="name">Room Name:</label>
          <input type="text" name="roomName" id ="name" placeholder="Enter Room Name" required v-model = "roomName">

          <label for="roomNum">Room Number:</label>
          <input type="text" name="roomNumber" id ="roomNum" placeholder="Enter Room Number" required v-model="roomNum">

          <label for="roomCap">Room Capacity:</label>
          <input type="number" name="Room Capacity" id ="roomCap" placeholder="Enter Room Capacity" required v-model="roomCap">

          <!-- Attributes/Features -->
          <p>Click the button to add an option at the end of the list.
            <br>  Control+click (command on mac) to select multiple features.
            <br> To remove a feature select it and press "Remove Feature"
          </p>
          <select id="atSelect" size="8" multiple v-model="atSelect">
            <template v-if="f_attributes">
              <option v-for="attr in f_attributes" v-bind:value="attr">[[ attr ]]</option>
            </template>
          </select>

          <!-- Add/Remove Features -->
          <input type="text" name="newFeature" id="feature" value="TV">

          <button type="button" onclick="addFeature()">Add Feature</button>
          <button type="button" class="deleteButton" onclick="removeFeature()">Remove Feature</button>

          <!-- Groups

          Not sure what's up with groups:
          If groups are made from facility then have to grab those

        -->


          <select id="groupSelect" size="8" multiple v-model="groupSelect">
            <option v-for="group in f_groups" v-bind:value="group._id">[[ group.name ]]</option>
          </select>

          <input type="text" name="newFeature" id="group">

          <!-- Add/Remove Groups -->

          <button type="button" onclick="addGroup()">Add Group</button>
          <button type="button" class="deleteButton" onclick="removeGroup()">Remove Group</button>

          <button @click.prevent="submitInfo()" id="submitButton" class=button>Submit</button>

        </form>
    </div>
    {% include 'footer.html' %}

    <script>
    function addFeature() {
      var selectList = document.getElementById("atSelect");
      var option = document.createElement("option");
      option.text = document.getElementById('feature').value;
      selectList.add(option);
    }

    function removeFeature() {
      var selectList = document.getElementById("atSelect");
      selectList.remove(selectList.selectedIndex);
    }

    function addGroup() {
      var selectList = document.getElementById("groupSelect");
      var option = document.createElement("option");
      option.text = document.getElementById('group').value;
      selectList.add(option);
    }

    function removeGroup() {
      var selectList = document.getElementById("groupSelect");
      selectList.remove(selectList.selectedIndex);
    }
    </script>
    <script>
    var vm = new Vue({
      el: "#app",
      data: {
        f_id: {{ f_id | tojson }},
        b_id: {{ b_id | tojson}},
        roomName: "",
        roomNum: "",
        roomCap: "",
        atSelect: [],
        groupSelect: [],
        description: "",
        error: [],
        f_attributes: [],
        f_groups: []
      },
      delimiters: ["[[", "]]"],
      mounted: function() {
          axios.get("/api/facilities/" + this.f_id)
          .then(res => {
            if ("err" in res.data && res.data.err.length) {
              this.error = res.data.error
            } else {
              this.f_attributes = res.data.attributes
              this.f_groups = res.data.groups
            }
          })
          .catch(error => console.log(error))
      },
      methods: {
        submitInfo: function() {
          axios.post("/api/facilities/" + this.f_id + "/buildings/" + this.b_id + "/rooms", {
            name: this.roomName,
            number: this.roomNum,
            capacity: this.roomCap,
            attributes: this.atSelect,
            groupID: this.groupSelect
          })
          .then(res => {
            if ("err" in res.data && res.data.err.length) {
              this.error = res.data.err
            } else {
              location.href = ("/facility/" + this.f_id + "/building/" + this.b_id)
            }
          })
          .catch(error => console.log(error))
        }
      }
    })

    </script>
</body>
</html>
