<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Penguin's Building Management</title>
  <link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
  <link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">
</head>
<body>
    {% include 'header.html' %}
    <div class = "content">
        <form>
          <h1> Room Selection </h1>

          <table>
            <tr>
              <th>Room Number</th>
              <th>Room Type</th>
            </tr>
            <tr>
              <td><p class="message"><a href="#">Room 1</a></p></td>
              <td>Classroom</td>
            </tr>
            <tr>
              <td><p class="message"><a href="#">Room 2</a></p></td>
              <td>Classroom</td>
            </tr>
            <tr>
              <td><p class="message"><a href="#">Room 3</a></p></td>
              <td>Conference</td>
            </tr>
            <tr>
              <td><p class="message"><a href="#">Room 4</a></p></td>
              <td>Conference</td>
            </tr>
            <tr>
              <td><p class="message"><a href="#">Room 5</a></p></td>
              <td>Laboratory</td>
            </tr>
            <tr>
              <td><p class="message"><a href="#">Room 6</a></p></td>
              <td>Classroom</td>
            </tr>
          </table>

          <!-- Location Information -->
          <button type="button" onclick="location.href=
          'file:///C:/Users/mt9u/OneDrive/Documents/Web%20Dev/Building_Creation_Pg.html?buildingName=Rowan+Hall&telphone=123+456+7890&address=123+rowan+road&city=Galloway&state=NJ&zip=08205&country=USA&public%2Fprivate=public';">
          Building Creation</button>
          <button type="button" onclick="location.href='file:///C:/Users/mt9u/OneDrive/Documents/Web%20Dev/Room_Creation_Page.html'">Add Room</button>
        </form>

    </div>
    {% include 'footer.html' %}
</body>
</html>
