<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Building Schedular</title>
	<link rel="stylesheet" href="{{url_for('static', filename='homestyles.css')}}">
	<link rel="icon" href="{{url_for('static', filename='calendar icon.png')}}">
</head>
<body>
	<div class="nav">
		<ul>
			<li><a href="http://ec2-35-170-202-37.compute-1.amazonaws.com/">Home</a></li>
			<li><a href="http://ec2-35-170-202-37.compute-1.amazonaws.com/calendar">Calendar</a></li>
		</ul>
	</div>
	<div class="login">
		<a href="http://ec2-35-170-202-37.compute-1.amazonaws.com/login">Login</a>
	</div>
	<button onclick="goBack()">Go Back</button>
		<div class="center-text">
			<h1>Room Schedular</h1>
			<p>Use me to schedule a room!</p>
		</div>
	<div class="calendar">
		<!--Insert Dylan's Calendar code here-->
	</div>
	<div class="footer">
		Team Penguins Schedule Prototype: Oct. 2019
	</div>
</body>
	
<script>
		function goBack(){
			window.history.back()
		}
	</script>
	
</html>